@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  font-family: "Oswald", sans-serif;
  font-weight: bold 400;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: #0f76bb11;
  //background-color: #242424;
  background-color: #0101;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
